
<div class="trichdan">
    Tôi không chắc chắn rằng việc đọc sách sẽ giúp bạn kiếm thêm được nhiều tiền. Nhưng tôi chắc chắn rằng nếu bạn để ai đó biết bạn là người thích đọc sách bằng việc thỉnh thoảng để họ thấy được bạn đang cầm một quyển sách trên tay, điều đó sẽ khiến người khác có cái nhìn tốt hơn về bạn.<br><br>
    <img class="a1" src="~/Content/HinhAnh/sach.gif" /><br><br>
    <a href="http://google.com">Mr.X</a> <i>-Web Designer</i>
</div>
