
<div style="margin-bottom:400px; margin-left:200px;">
    @using (Html.BeginForm())
    {
        <h2 style="color:red; font:400; ">Đăng Nhập</h2><br />
        @Html.TextBox("txtTaiKhoan"); <br /><br />
        <input type="text" name="txtMatKhau" /> <br /><br />
        <input type="submit" name="btnSubmit" id="btnSubmit"> <br /><br />
        <p style="color:red;">@ViewBag.ThongBao</p>
    }
</div>
